# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
weatherdata = "city_weather.csv"

weather_df =pd.read_csv(weatherdata)

weather_df

,City ID,City,Country Code,Latitude,Longitude,Temperature,Humidity,Cloudy,Wind Speed
0,2214432,Nālūt,LY,30.3333,10.8500,54.27,51,15,16.24
1,4032420,Neiafu,TO,-18.6500,-173.9833,84.20,74,40,5.75
2,2206939,Bluff,NZ,-46.6000,168.3333,73.00,44,44,17.00
3,2015306,Tiksi,RU,71.6872,128.8694,2.79,84,70,7.09
4,2163355,Hobart,AU,-42.8794,147.3294,63.28,27,0,17.27
...,...,...,...,...,...,...,...,...,...
534,5838199,Sheridan,US,44.8333,-106.9173,41.23,70,90,2.28
535,5570065,Red Bluff,US,40.1785,-122.2358,49.84,62,1,3.44
536,1328421,Pathein,MM,16.7833,94.7333,97.81,18,58,8.75
537,160196,Dodoma,TZ,-6.1722,35.7395,64.40,94,20,9.22
538,644436,Noormarkku,FI,61.5927,21.8685,33.80,100,90,4.61

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
gmaps.configure(api_key=g_key)

In [8]:
areas = weather_df[["Latitude", "Longitude"]]

humid = weather_df["Humidity"].astype(float)
humidfig = gmaps.figure()
humidlayer = gmaps.heatmap_layer(areas, weights=humid, dissipating=False, max_intensity= 5, point_radius=1)
humidfig.add_layer(humidlayer)
humidfig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
vacayweather = weather_df.loc[(weather_df['Temperature']<80) & (weather_df['Temperature']>70) & (weather_df['Wind Speed']<10) & (weather_df['Cloudy'] == 0)]

vacayweather

,City ID,City,Country Code,Latitude,Longitude,Temperature,Humidity,Cloudy,Wind Speed
106,2075265,Busselton,AU,-33.6500,115.3333,72.23,47,0,5.99
126,286621,Salalah,OM,17.0151,54.0924,71.60,53,0,2.30
163,1152194,Mae Sai,TH,20.4335,99.8762,77.00,61,0,4.61
173,3391889,Pitimbu,BR,-7.4706,-34.8086,75.20,88,0,3.44
186,2447416,Ayorou,NE,14.7308,0.9174,70.57,25,0,7.94
258,1174062,Kharan,PK,28.5833,65.4167,73.20,29,0,9.66
295,3430545,Morón,AR,-34.6534,-58.6198,71.64,58,0,1.01
296,2189343,Kaeo,NZ,-35.1000,173.7833,72.00,63,0,4.00
396,2446796,Bilma,NE,18.6853,12.9164,73.17,12,0,6.85
436,3491161,Bull Savanna,JM,17.8868,-77.5902,70.77,78,0,5.50
472,3520994,Puerto Escondido,MX,15.8500,-97.0667,77.99,74,0,4.56
480,1168700,Ormara,PK,25.2088,64.6357,76.66,58,0,3.24
493,186180,Moyale,KE,3.5167,39.0584,70.70,69,0,8.93
496,1270102,Hilsa,IN,25.3167,85.2833,75.20,50,0,3.44

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
hotel_df = vacayweather.copy()

hotel_df['Hotel Name'] = ""

hotelurl = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

params = { "key": g_key, "radius": 5000, "type": "lodging", "keyword": "hotel"}

print("searching for hotels w/in 5000 mile radius")

for index, row in hotel_df.iterrows():
    nicelat = row['Latitude']
    nicelong = row['Longitude']
    params['location'] = f"{nicelat}, {nicelong}"
    response = requests.get(hotelurl, params=params).json()
    hotelpull = response['results']
    try:
        hotel_df.loc[index, "Hotel Name"] = hotelpull[0]['name']
    except (KeyError, IndexError):
        hotel_df.loc[index, "Hotel Name"] = "Not Available"
print("You Did It!")
hotel_df.head()

searching for hotels w/in 5000 mile radius
You Did It!

,City ID,City,Country Code,Latitude,Longitude,Temperature,Humidity,Cloudy,Wind Speed,Hotel Name
106,2075265,Busselton,AU,-33.6500,115.3333,72.23,47,0,5.99,Not Available
126,286621,Salalah,OM,17.0151,54.0924,71.60,53,0,2.30,Not Available
163,1152194,Mae Sai,TH,20.4335,99.8762,77.00,61,0,4.61,Not Available
173,3391889,Pitimbu,BR,-7.4706,-34.8086,75.20,88,0,3.44,Not Available
186,2447416,Ayorou,NE,14.7308,0.9174,70.57,25,0,7.94,Not Available

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{Cities}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

KeyError: 'Cities'

In [ ]:
# Add marker layer ontop of heat map


# Display figure